@import "../colors";

.search-meta{
  margin-top: 10px;
}
.search-results{
  margin-top: 40px;

  .more-action{
    padding: 10px;
    margin-top: 0;
    padding-top: 0;
    cursor: pointer;
  }

  ul{
    margin-top: 0;
    padding-left: 0;
    list-style: none;
  }
  li{
    border-bottom: 1px solid $grey-lighter;
    &:nth-child(even){
      background: $white-darker;
    }
    a{
      display: block;
      padding: 10px;

      small{
        font-weight: normal;
        color: $black-lighter;
      }
    }
  }
}