<div class="search-bar">
    {{input
        autofocus="autofocus"
        type="text"
        valueBinding="query"
        action="search"
        placeholder="Suche nach einem Titel oder einer ISBN"
    }}
</div>