<div class="pure-g-r wrapper head-bar">
    <div class="pure-u-1-5">
        <h1 class="logo">
            {{#link-to 'index'}}
                Bookr
            {{/link-to}}
        </h1>
    </div>
    <div class="pure-u-4-5">
        {{ partial "searchBar"}}
    </div>
</div>
<div class="pure-g wrapper">
    <div class="pure-u-1-5"></div>
    <div class="pure-u-4-5">
        {{ outlet }}
    </div>
</div>