<div class="pure-g">
    <div class="pure-u-1">
        <h1>Bookr</h1>
    </div>
    <div class="pure-u-1">
        {{ partial "searchBar"}}
    </div>
    <div class="pure-u-1">
        {{ outlet }}
    </div>
</div>
